body{
	background-color: black;
	text-align: center;
}
table {
	position: relative;
	margin: auto;
}

td {
	background-color: red;
	border: 3px solid black;
	font-size:70px;
	color:black;
	border-radius: 10px 10px 10px 10px;
}

h1{
	color: red;
}

p{
	color: yellow;
}